/* src/index.css */
.nav-item {
  position: relative;
}

.nav-item::after {
  content: '';
  width: 0%;
  background: #fff;
  transition: 0.5s;
  height: 2px;
  display: block;
  margin: auto;
  position: absolute;
  bottom: -5px; /* Adjust based on your layout */
  left: 0;
  right: 0;
}

.nav-item:hover::after {
  width: 100%;
}
.nav-link.active {
font-weight: 600;
  
}