/* src/index.css */
.nav-item {
  position: relative;
}
.nav-item::after {
  content: '';
  width: 0%;
  background: #CFA35D;
  transition: 0.5s;
  height: 2px;
  display: block;
  margin: auto;
  position: absolute;
  bottom: -5px; /* Adjust based on your layout */
  left: 0;
  right: 0;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-link.active {
  color: #CFA35D;
  position: relative; /* Ensure the pseudo-element is positioned correctly */
}

.nav-link.active::after {
  content: '';
  width: 100%;
  background: #CFA35D;
  height: 3px;
  display: block;
  margin: auto;
  position: absolute;
  bottom: -7px; /* Adjust based on your layout */
  left: 0;
  right: 0;
}