@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family:  "Open Sans", sans-serif;
    overflow-x: hidden;
}
/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 7px; /* Adjust the width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: #02294A; /* Optional: the track of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #CFA35D; /* Optional: the scroll handle */
}

::-webkit-scrollbar-thumb:hover {
  background: #9C783E; /* Optional: the scroll handle when hovered */
}

::selection {
  background-color: #CFA35D; /* Replace with your desired background color */
}